/*280px; - samsung fold*/
/*320px;*/
/*360px;*/
/*375px;*/
/*390px;*/
/*414px; iphone 7+ 8+ XR 11 11pro*/
/*428px; 12-13-14 pro max*/

/*                планшеты*/
/*768px; - айпад мини*/
/*800px; - самсунг*/
/*820px; ipad*/
/*834px; ipad pro*/
/*992px; ipad max*/

/*1024px;-перевернутый планшет, нэтбук*/

    /*================ HEADER ================*/
@media (max-width: 874px) {
    header nav ul li {
        margin-left: 16px;
    }

    header nav ul li:first-of-type {
        margin-right: 12px;
    }

    header nav ul li:last-of-type {
        margin-left: 15px;
    }

    header nav a {
        font: 15px/20px 'poppinsregular';
    }
}
@media (max-width: 781px){
    header nav a{
        font: 12px/20px 'poppinsregular';
        color: #FFFFFF;
        text-decoration: none;
    }
    header nav ul li:first-of-type a {
        font-size: 11px;
    }
    header nav ul li:last-of-type a {
        font: 13px/20px 'poppinsregular';
        padding: 5px 10px;
    }
}
@media (max-width: 673px) {
    header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
        background-color: #000000;
        padding: 10px 0;
    }

    .menu__list {
        column-gap: 15px;
    }

    .icon-menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        background-color: transparent;
        border: none;
    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transition: all 0.3s ease 0s;
    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: calc(50% - 1px);
    }
    .menu-open .menu__body {
        left: 0;
    }

    .menu-open .menu__body::before {
        left: 0;
    }

    .menu-open .icon-menu span {
        width: 0;
    }

    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }

    .menu-open .icon-menu::after {
        top: calc(50% - 1px);
        transform: rotate(45deg);
    }

    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000;
        left: -106%;
        top: 0;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition: left 0.3s ease 0s;
    }

    .menu__body::before {
        content: "";
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 70px;
        background-color: #000;
        z-index: 2;
        transition: left 0.3s ease 0s;

    }

    .menu__list {
        row-gap: 10px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    header nav ul li {
        margin-bottom: 20px;
    }
    header nav a{
        font: 15px/20px 'poppinsregular';
        color: #FFFFFF;
        text-decoration: none;
    }
    header nav ul li:first-of-type a {
        font-size: 13px;
    }
    header nav ul li:last-of-type a {
        background: #FFFFFF;
        border-radius: 14px;
        font: 16px/20px 'poppinsregular';
        /*letter-spacing: 0.4px;*/
        color: #000000;
        padding: 11px 20px;
    }
}
    /*.container a{*/
    /*    width: 20px;*/
    /*    flex: 0 0 20px;*/
    /*    overflow: hidden;*/
    /*}*/

/*@media (max-width: 565px) {*/
/*    header nav ul {*/
/*        flex-wrap: wrap;*/
/*        justify-content: right;*/
/*    }*/
/*    header nav ul li {*/
/*        margin-bottom: 5px;*/
/*    }*/

/*}*/

    /*================ MAIN ================*/
@media (max-width: 616px) {
    .main_screen {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main_screen article h3 {
        font: 10px/20px 'poppinsregular';
        letter-spacing: 1px;
    }

    .main_screen article h1 {
        margin-bottom: 10px;
        font: 40px/59px 'poppinsregular';
    }

    .main_screen article p {
        font: 10px/20px 'poppinsregular';
        text-align: center;
        color: #C0C0C0;
    }
}

    @media (max-width: 508px) {
        .bottom_icons li {
            font: 10px/12px 'poppinsregular';
            color: #FFFFFF;
            margin-left: 8px;

        }
    }
    /*================ GALLERY ================*/
    @media (max-width: 1200px) {
        .img_block {
            padding: 0 5px;
        }
    }
    @media (max-width: 1161px) {
        .img_block {
            justify-content: center;
        }

        .gallery {
            padding: 90px 0 70px 0;
        }
    }
    @media (max-width: 616px) {
        .gallery .gallery_container h2 {
            font: 30px/42px 'poppinsregular';
            margin-bottom: 10px;
        }

        .gallery .gallery_container h3 {
            font: 15px/30px 'poppinsregular';
            margin-bottom: 20px;
        }
    }
    @media (max-width: 428px){
        .gallery .img_block h5{
            font: 10px/20px 'poppinsregular';
            letter-spacing: 1px;
            margin-bottom: 8px;
        }
        .gallery .img_block p{
            font: 10px/20px 'poppinsregular';
            margin-bottom: 12px;

        }
        .button{
            font: 11px/20px 'poppinsregular';
            height: 34px;
            width: 110px;
        }
        .button:before{
            content: "";
            width: 24px;
            height: 24px;
            background-color: #000;
            border-radius: 50%;
            margin-right: 6px;
            margin-left: 4px;
        }
        .gallery {
            padding: 50px 0 30px 0;
        }
    }
        /*================ SUNSET (monstera&himalayas) ================*/
    @media (max-width: 428px){
            .sunset{
                padding-left: 10px;
            }
            .sunset article h4{
                font: 12px/20px 'poppinsregular';
                letter-spacing: 1px;
            }
            .sunset article p{
                font: 12px/20px 'poppinsregular';
            }
    }
    /*================ CLIENTS SECTION ================*/
    @media (max-width: 1099px) {
        .clients .flex_block {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .clients .flex_block a {
            display: inline-block;
            margin: 0 10px;
            max-width: 128px;
            transform: translateX(-50%);
            position: relative;
            left: 50%; /*только так получилось выровнять элемент по центру*/
        }
    }
    @media (max-width: 673px) {
        .clients .flex_block {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .clients .flex_block a {
            display: inline-block;
            margin: 0 10px;
            max-width: 128px;
            transform: translateX(-50%);
            position: relative;
            left: 50%; /*только так получилось выровнять элемент по центру*/
        }
    }
        @media (max-width: 428px) {
            .clients {
                padding: 50px 0 50px;
            }

            .clients h2 {
                font: 30px/42px 'poppinsregular';
                margin-bottom: 10px;
            }

            .clients h3 {
                font: 18px/30px 'poppinsregular';
                margin-bottom: 50px;
            }
        }
        /*================ HELP SCREEN ================*/
        @media (max-width: 428px) {
            .help_screen {
                padding: 50px 0 50px 0;
            }

            .help_screen div h2 {
                font: 32px/42px 'poppinsregular';
                margin-bottom: 11px;
            }

            .help_screen div h3 {
                font: 18px/30px 'poppinsregular';
                margin-bottom: 18px;
            }

            .help_screen div a {
                font: 14px/20px 'poppinsregular';
                padding: 4px 8px 4px 4px;
                display: inline-flex;
                align-items: center;
            }

            .help_screen div a:before {
                width: 24px;
                height: 24px;
                margin-right: 4px;
            }
        }

        /*================ FOOTER ================*/
        @media (max-width: 1200px) {
            footer {
                padding: 88px 16px 62px;
            }
        }
        @media (max-width: 874px) {
            footer .footer_container .footer_logo p {
                margin-right: 10px;
            }

            .footer_logo {
                margin-right: 20px;
            }
        }
        @media (max-width: 718px) {
            footer .footer_subscribe form {
                width: 270px;
                height: 42px;
            }

            footer .footer_subscribe input {
                border-radius: 12px;
                background-color: #F9FAFB;
                border: none;
                width: 260px;
                height: 38px;
                font: 12px/20px 'poppinsregular';
            }

            footer .footer_subscribe input:focus {
                outline: none;
            }

            footer .footer_subscribe button {
                background: #000000;
                border-radius: 11px;
                border: none;
                width: 45px;
                height: 25px;
                margin: auto;
            }
        }
        @media (max-width: 428px) {
            footer {
                padding: 50px 10px;
            }

            .footer_container {
                padding-bottom: 20px;
            }

            footer .footer_container ul {
                margin-right: 35px;
            }

            footer .footer_container .footer_pages ul li:first-of-type {
                font: 12px/20px 'poppinsregular';
                letter-spacing: 1px;
            }

            footer .footer_container .footer_pages a {
                font: 11px/20px 'poppinsregular';
            }

            footer .footer_container .footer_pages ul li {
                margin-bottom: 7px;
            }

            footer .footer_container p {
                font: 11px/20px 'poppinsregular';
            }

            .footer_subscribe {
                flex-wrap: wrap;
                justify-content: center;
                padding: 26px 0;
            }

            footer .footer_subscribe h5 {
                font: 13px/20px 'poppinsregular';
                letter-spacing: 1px;
                margin-bottom: 10px;
            }

            footer .footer_subscribe p {
                font: 11px/20px 'poppinsregular';
                margin-bottom: 10px;
            }

            .footer_social {
                padding-top: 26px;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }

            footer .footer_social p {
                font: 12px/20px 'poppinsregular';
                margin-bottom: 10px;
            }

            footer .footer_social a {
                margin-left: 10px;
            }
        }
